@import url("https://fonts.cdnfonts.com/css/mont");
@font-face {
  font-family: "mont-600";
  src: url(/assets/Font/Mont/Mont-Book.otf); }

@font-face {
  font-family: "mont-500";
  src: url(/assets/Font/Mont/Mont-Light.otf); }

@font-face {
  font-family: "mont-700";
  src: url(/assets/Font/Mont/Mont-SemiBold.otf); }

@font-face {
  font-family: "mont-800";
  src: url(/assets/Font/Mont/Mont-Bold.otf); }

@font-face {
  font-family: "mont-book";
  src: url(/assets/Font/Mont/Mont-Book.otf); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  font-family: "Mont", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.bg-color {
  background-color: #f8f7ff; }

.bg-color-dark {
  background-color: #eeebff; }

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10rem); } }

@media (max-width: 1700px) {
  .navbar .container {
    gap: 4.7rem !important; }
  .navbar .nav-links {
    gap: 23px !important; } }

@media (max-width: 1600px) {
  .navbar .container {
    gap: 4.7rem !important; }
  .navbar .nav-links {
    gap: 23px !important; }
  html {
    font-size: 56.5% !important; }
  .container {
    padding-right: 3rem !important;
    padding-left: 3rem !important; }
  .partners-section-container__body {
    align-self: flex-start;
    overflow: auto; }
  .partners-section-container__body {
    width: 100%;
    overflow: auto; } }

@media (max-width: 1500px) {
  .navbar .nav-links {
    gap: 14px !important; }
  html {
    font-size: 52% !important; }
  .corner-design {
    width: 52rem !important; }
  .got-you-covered-section__top-boxes {
    gap: 8rem !important; }
  .technologies-container__body {
    flex-direction: column; }
  .technologies-container__body__tabs-container {
    width: 50%; }
  .technologies-container__body__img {
    width: 70%; }
  .technologies-container__body__tabs-container {
    width: 80%; } }

@media (max-width: 1320px) {
  html {
    font-size: 46% !important; }
  .corner-design {
    width: 46rem !important; }
  .hero-section {
    gap: 7rem !important; }
  .navbar .nav-links {
    gap: 10px; }
  .got-you-covered-section__top-boxes {
    overflow: auto; }
  .got-you-covered-section__bottom-boxes {
    overflow: auto;
    transition: none; }
    .got-you-covered-section__bottom-boxes:hover {
      box-shadow: none;
      transform: none; }
  .got-you-covered-section__top-box {
    min-width: 49rem;
    height: fit-content; }
  .got-you-covered-section__bottom-box {
    min-width: 34rem;
    height: fit-content; } }

@media (max-width: 1200px) {
  html {
    font-size: 40% !important; }
  .corner-design {
    width: 42rem !important; }
  .navbar .nav-links {
    display: none !important; }
  .menu-btn {
    display: block !important; }
  .navbar .nav-links-container {
    flex-basis: inherit !important; }
  .navbar {
    display: flex;
    align-items: center;
    gap: 5rem;
    padding-left: 5rem !important; }
    .navbar .container {
      width: 100%; }
  .floating-cta-container__box__circle {
    height: 6rem; }
  .got-you-covered-section__top-boxes {
    gap: 8rem !important; }
  .core-development-container__body__illustration {
    grid-row: 1/2 !important;
    grid-column: 1/-1 !important;
    width: 90%; }
  .core-development-container__body {
    grid-template-columns: 1fr 1fr !important;
    width: 90%; }
  .core-development-container__body__box__text {
    font-size: 20px !important; } }

@media (max-width: 1000px) {
  .hero-section {
    flex-direction: column-reverse; }
  .top-section {
    height: 1800px !important; }
  .partners-section-container__body {
    gap: 2rem !important; }
  .footer-content-container__linkes-container {
    grid-template-columns: 1fr 1fr 1fr !important; }
  .footer-content-container__linkes-container__links {
    align-items: center; }
  .floating-cta-container {
    flex-direction: column;
    margin: 0 auto !important;
    width: 90% !important; }
    .floating-cta-container__box {
      justify-content: space-between; }
      .floating-cta-container__box:first-child {
        padding-right: 0 !important;
        padding-bottom: 4rem;
        border-right: none !important;
        border-bottom: 1px solid #fff; }
      .floating-cta-container__box:last-child {
        padding-left: 0 !important;
        padding-top: 4rem; }
      .floating-cta-container__box__icon {
        padding: 14px !important; }
  div.methodology-container {
    padding-bottom: 40rem !important; }
  .recent-projects-container__body {
    display: flex !important;
    justify-content: center !important; }
    .recent-projects-container__body:last-child {
      grid-column: 1/-1; }
  .hero-section {
    text-align: center; }
  .hero-section .hero-section-content {
    align-items: center !important; }
  .core-development-container__cta {
    margin-top: 3rem; }
  .got-you-covered__heading-container__subheader {
    font-size: 23px !important; }
  .recent-projects-container .card {
    border: 1px solid #f8f7ff !important;
    box-shadow: 0 0 2px #dedede;
    max-width: 62rem !important; }
  .core-development-container__headings__subheader {
    font-size: 25px;
    text-align: center; }
  .recent-projects-container__headings__subheader {
    font-size: 25px; }
  .footer-copyright__text {
    font-size: 17px !important; } }

@media (max-width: 700px) {
  html {
    font-size: 36% !important; }
  .footer-content-container__linkes-container {
    grid-template-columns: 1fr 1fr !important; }
  .technologies-container__body__tabs-container .activeTab {
    transform: unset !important; }
  .hero-section .hero-heading {
    font-size: 40px !important; }
  .hero-section .hero-title {
    font-size: 24px !important; }
  .hero-section .hero-desciption {
    font-size: 17px !important;
    line-height: 1.8 !important; }
  .hero-section .hero-heading {
    font-size: 40px !important; }
  .technologies-container__body__img {
    width: 100%; } }

@media (max-width: 570px) {
  .recent-projects-container__headings__subheader {
    font-size: 23px !important; }
  .got-you-covered-section__top-box__text__header {
    font-size: 16px !important;
    white-space: nowrap; }
  .got-you-covered-section__top-box__text__description {
    font-size: 14px !important; }
  .got-you-covered-section__top-box__text {
    gap: 2rem !important; }
  .navbar .btn {
    font-size: 12px !important; }
  .navbar .container {
    gap: 3rem !important; }
  .logo-text img {
    height: 22px; }
  .logo-img img {
    height: 26px !important; }
  .navbar {
    gap: 0 !important; }
  .navbar .btn {
    font-size: 10px !important;
    padding: 3px 20px !important; }
  .floating-cta-container__box__text {
    font-size: 20px !important; }
  .floating-cta-container__box {
    gap: 1rem !important; }
  .technologies-container__body__tabs-container__tab {
    text-align: start; }
    .technologies-container__body__tabs-container__tab__title {
      font-size: 24px !important;
      line-height: 2 !important; }
    .technologies-container__body__tabs-container__tab__desc {
      font-size: 14px !important;
      line-height: 1.7 !important; }
  .technologies-container__body__tabs-container {
    width: 90% !important; }
  .cta-section-container__title {
    font-size: 26px !important;
    line-height: 1.5 !important;
    margin-top: 80px; }
  .cta-section-container__subtitle {
    font-size: 14px !important;
    line-height: 2 !important;
    margin-top: 40px; }
  .footer-content-container__linkes-container__links {
    align-items: flex-start !important; }
  .core-development-container__headings {
    align-items: flex-start !important; } }

@media (max-width: 440px) {
  .floating-cta-container__box__circle {
    width: 7rem; }
  img {
    max-width: 100%; }
  .corner-design {
    width: 111px !important;
    height: 70rem !important; }
  .hero-section .hero-section-content {
    text-align: start; }
  .hero-section .hero-heading {
    font-size: 24px !important; }
  .hero-section .hero-title {
    font-size: 20px !important; }
  .hero-section a {
    padding: 10px 60px;
    font-size: 16px; }
  .hero-section .hero-illustration {
    max-width: 50rem !important; }
  .floating-cta-container__box__text {
    font-size: 14px !important; }
  .core-development-container__body {
    grid-template-columns: 1fr !important; }
  .footer-content-container__linkes-container__links__title {
    font-size: 18px !important; }
  .footer-content-container__linkes-container__links__link {
    font-size: 14px !important; }
  .footer-content-container__linkes-container {
    grid-template-columns: 1fr !important; }
    .footer-content-container__linkes-container__links {
      align-items: center !important; }
  .navbar .logo {
    gap: 1rem !important; }
  .navbar .btn {
    padding: 3px 11px !important; }
  .floating-cta-container__box__icon {
    width: 60px;
    display: flex;
    justify-content: space-around; } }

.container {
  max-width: 156rem;
  padding: 0 3rem;
  margin: 0 auto; }

.btn {
  border-radius: 62px;
  padding: 10px 20px; }

.navbar {
  margin: 4rem 0;
  padding: 1.7rem 0;
  background-color: rgba(123, 97, 255, 0.05); }
  .navbar .menu-btn {
    display: none; }
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6.7rem; }
  .navbar .logo {
    display: flex;
    align-items: center;
    gap: 18px; }
    .navbar .logo:hover {
      cursor: pointer; }
  .navbar .nav-links-container {
    display: flex;
    flex-basis: 76%;
    justify-content: space-between; }
  .navbar .nav-links {
    display: flex;
    gap: 40px;
    flex-basis: 40%; }
  .navbar .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap; }
  .navbar a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 34px;
    color: #2E193E;
    font-family: "poppins";
    transition: all 0.25s ease-in-out; }
    .navbar a:hover {
      color: #B485FF;
      stroke: #B485FF; }
      .navbar a:hover .arrow-down {
        stroke: #B485FF;
        transition: all 0.25s ease-in-out; }
  .navbar .cta-btn {
    background-color: #B485FF;
    border: 1px solid #B485FF; }
    .navbar .cta-btn:hover {
      background-color: #fff;
      transition: all 0.25s ease-in-out; }
  .navbar .btn {
    padding: 10px 30px;
    color: #fff;
    white-space: nowrap; }

.corner-design {
  background-color: #28104E;
  height: 97rem;
  width: 63rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 0 0 0 23rem; }

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1.3rem;
  padding: 7.5px 7.5px 3rem 7.5px;
  max-width: 44rem; }
  .card:hover {
    box-shadow: 0px 14px 21px 1px rgba(197, 162, 219, 0.17);
    transition: all 0.25s ease-in-out; }
  .card__image-container {
    overflow: hidden; }
    .card__image-container__image {
      width: 100%; }
  .card__text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem; }
    .card__text-container__top-text {
      font-family: "mont-600", sans-serif;
      font-size: 14px;
      color: #7c1dc9; }
    .card__text-container__header {
      font-family: "mont-700", sans-serif;
      font-size: 24px;
      color: #000;
      margin-top: 1rem; }
    .card__text-container__description {
      font-family: "mont-600", sans-serif;
      font-size: 16px;
      color: #575757;
      line-height: 2.3;
      text-align: start; }

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  margin-top: 9rem;
  padding: 0 0 0 4rem; }
  .hero-section .hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
    align-items: flex-start; }
  .hero-section .hero-heading-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem; }
  .hero-section .hero-title {
    font-family: "mont-600", sans-serif;
    font-size: 30px;
    color: #A166FF;
    font-style: normal;
    font-weight: 500; }
  .hero-section .hero-heading {
    font-family: "mont-700", sans-serif;
    color: #28104E;
    font-size: 64px;
    line-height: 1.4; }
  .hero-section .hero-desciption {
    color: #28104E;
    font-size: 21px;
    font-family: "mont-500", sans-serif;
    line-height: 2.5; }
  .hero-section .hero-illustration {
    max-width: 70rem;
    max-height: 70rem;
    animation: MoveUpDown 8s linear infinite; }
  .hero-section a {
    color: #28104E;
    font-size: 2rem;
    line-height: 1.5;
    background-color: #FFCF2B;
    border: 1px solid #FFCF2B;
    font-family: "mont-700", sans-serif;
    padding: 20px 65px; }
    .hero-section a:hover {
      background-color: transparent;
      transition: all 0.25s ease-in-out; }

.top-section {
  background-color: rgba(123, 97, 255, 0.05);
  background-size: inherit;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1360px;
  z-index: -2; }

.got-you-covered-section {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
  gap: 5.7rem; }
  .got-you-covered-section .got-you-covered__heading-container__header {
    font-family: "mont-600", sans-serif;
    color: #5a3583;
    font-size: 21px; }
  .got-you-covered-section .got-you-covered__heading-container__subheader {
    font-family: "mont-700", sans-serif;
    line-height: 2;
    color: #000;
    font-size: 36px; }
  .got-you-covered-section__top-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14.6rem;
    padding: 5px; }
    .got-you-covered-section__top-boxes__iconn {
      display: flex;
      justify-content: center;
      background-color: #fbf2ff;
      height: 98px;
      width: 98px;
      border-radius: 50%;
      padding: 1.6rem; }
  .got-you-covered-section__top-box {
    padding: 3.7rem 5.7rem;
    background-color: #fff;
    box-shadow: 0px 25px 36px -8px rgba(123, 97, 255, 0.21);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.9rem;
    transition: all 0.5s ease; }
    .got-you-covered-section__top-box__text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem; }
      .got-you-covered-section__top-box__text__header {
        font-size: 19px;
        font-style: normal;
        font-family: "mont-700", sans-serif;
        color: #000;
        margin-top: 1rem; }
      .got-you-covered-section__top-box__text__description {
        font-size: 16px;
        font-family: "mont-600", sans-serif;
        color: #84848491;
        line-height: 2; }
    .got-you-covered-section__top-box:hover {
      box-shadow: #A166FF 0px 7px 29px 0px;
      transform: translateY(-20px); }
  .got-you-covered-section__bottom-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5.2rem;
    margin-bottom: 13.6rem;
    margin-top: 5rem; }
  .got-you-covered-section__bottom-box {
    padding: 4rem 2.2rem;
    border: 1px solid #FFCF2B;
    border-radius: 32px;
    transition: all 0.5s ease; }
    .got-you-covered-section__bottom-box__num__text {
      font-size: 4.8rem;
      font-family: "mont-700";
      color: #774eb0;
      line-height: 1.5; }
      .got-you-covered-section__bottom-box__num__text span {
        color: #B485FF; }
    .got-you-covered-section__bottom-box__text {
      font-size: 16px;
      font-family: "mont-7OO", sans-serif;
      color: #84848491;
      line-height: 1.5;
      margin-top: 1rem; }
  .got-you-covered-section .got-you-covered-section__bottom-box {
    min-height: 140px; }

.core-development-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 70px;
  line-height: 1.5; }
  .core-development-container__headings {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .core-development-container__headings__header {
      font-family: "mont-600", sans-serif;
      color: #542B74;
      font-size: 21px; }
      @media (max-width: 700px) {
        .core-development-container__headings__header {
          font-size: 19px; } }
    .core-development-container__headings__subheader {
      font-family: "mont-700", sans-serif;
      color: #542B74;
      font-size: 36px; }
      @media (max-width: 700px) {
        .core-development-container__headings__subheader {
          font-size: 30px; } }
  .core-development-container__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7.5rem; }
    .core-development-container__body__illustration {
      grid-column: 2/4;
      grid-row: 1/3;
      justify-self: center;
      margin-bottom: 3rem; }
    .core-development-container__body__box {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4.8rem;
      align-items: center;
      padding: 5.2rem;
      border-radius: 28px;
      box-shadow: 0px 14px 21px 1px rgba(197, 162, 219, 0.17);
      transition: all 0.5s ease; }
      .core-development-container__body__box:hover {
        box-shadow: #A166FF 0px 7px 29px 0px;
        transform: translateY(-20px); }
      .core-development-container__body__box__icon {
        width: 5.8rem;
        height: 5.8rem; }
      .core-development-container__body__box__text {
        font-size: 2.2rem;
        color: #542B74;
        font-family: "mont-700", sans-serif;
        text-align: center; }
  .core-development-container__cta__btn {
    background-color: #FFCF2B;
    border: 1px solid #FFCF2B;
    color: #28104E;
    font-size: 19px;
    font-family: sans-serif;
    padding: 2.2rem 8rem;
    margin-top: 2rem; }
    .core-development-container__cta__btn:hover {
      background-color: transparent;
      transition: all 0.25s ease-in-out; }

.recent-projects-container {
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 70px;
  line-height: 1.5; }
  .recent-projects-container__headings {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .recent-projects-container__headings__header {
      font-family: "mont-600", sans-serif;
      color: #542B74;
      font-size: 21px; }
      @media (max-width: 700px) {
        .recent-projects-container__headings__header {
          font-size: 19px; } }
    .recent-projects-container__headings__subheader {
      font-family: "mont-700", sans-serif;
      color: #542B74;
      font-size: 36px; }
      @media (max-width: 700px) {
        .recent-projects-container__headings__subheader {
          font-size: 30px; } }
  .recent-projects-container__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8.2rem;
    width: 100%; }

.methodology-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem;
  padding-bottom: 24rem !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 70px;
  line-height: 1.5; }
  .methodology-container__headings {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .methodology-container__headings__header {
      font-family: "mont-600", sans-serif;
      color: #542B74;
      font-size: 21px; }
      @media (max-width: 700px) {
        .methodology-container__headings__header {
          font-size: 19px; } }
    .methodology-container__headings__subheader {
      font-family: "mont-700", sans-serif;
      color: #542B74;
      font-size: 36px; }
      @media (max-width: 700px) {
        .methodology-container__headings__subheader {
          font-size: 30px; } }
  .methodology-container__headings__header {
    padding-top: 4rem; }
  .methodology-container__body {
    margin-top: 5rem; }
    .methodology-container__body__image {
      width: 100%; }
  .methodology-container__cta {
    margin-top: 5rem; }
    .methodology-container__cta__btn {
      border: 1px solid #a583d2;
      color: #7c1dc9;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: 300;
      padding: 2rem 5rem; }
      .methodology-container__cta__btn:hover {
        color: #fff;
        background-color: #7c1dc9;
        transition: all 0.25s ease-in-out; }

.floating-cta-container {
  border-radius: 32px;
  background: linear-gradient(180deg, #a583d2 -17.86%, #6437a0 138.27%);
  padding: 5.4rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  transform: translateY(-50%);
  margin: 0 auto; }
  .floating-cta-container__box {
    display: flex;
    align-items: center;
    gap: 5rem; }
    .floating-cta-container__box:first-child {
      padding-right: 5rem;
      border-right: 1px solid #fff; }
    .floating-cta-container__box:last-child {
      padding-left: 5rem; }
    .floating-cta-container__box__icon {
      background-color: #e9c5ff;
      padding: 40px;
      border-radius: 50%; }
    .floating-cta-container__box__text {
      font-family: "mont-600", sans-serif;
      color: #fff;
      font-size: 32px; }
    .floating-cta-container__box__circle {
      background-color: #64389e;
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      cursor: pointer; }

.technologies-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 70px;
  line-height: 1.5; }
  .technologies-container__headings {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .technologies-container__headings__header {
      font-family: "mont-600", sans-serif;
      color: #542B74;
      font-size: 21px; }
      @media (max-width: 700px) {
        .technologies-container__headings__header {
          font-size: 19px; } }
    .technologies-container__headings__subheader {
      font-family: "mont-700", sans-serif;
      color: #542B74;
      font-size: 36px; }
      @media (max-width: 700px) {
        .technologies-container__headings__subheader {
          font-size: 30px; } }
  .technologies-container__body {
    display: flex;
    align-items: center;
    gap: 16rem;
    margin-top: 3rem; }
    .technologies-container__body__tabs-container {
      display: flex;
      flex-direction: column;
      gap: 3rem; }
      .technologies-container__body__tabs-container__tab {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.21);
        border-radius: 7px;
        padding: 1.5rem;
        border-left: 5px solid #e6d2f7;
        text-align: start;
        transition: all 0.5s ease; }
        .technologies-container__body__tabs-container__tab:hover {
          border-left: #28104E solid 5px;
          transform: translateX(-3rem); }
        .technologies-container__body__tabs-container__tab__title {
          font-size: 28px;
          color: #000;
          font-family: "mont-700", sans-serif;
          margin-left: 1rem; }
        .technologies-container__body__tabs-container__tab__desc {
          font-size: 19px;
          color: #767676;
          font-family: "mont-600", sans-serif;
          line-height: 2; }
      .technologies-container__body__tabs-container .activeTab {
        box-shadow: 0 0 24px rgba(139, 118, 167, 0.6);
        transform: translateX(-40px);
        border-left: 5px solid #4e127e; }

.partners-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .partners-section-container__title {
    font-family: "mont-800", sans-serif;
    font-size: 36px;
    color: #000; }
  .partners-section-container__body {
    display: flex;
    align-items: center;
    gap: 5rem; }
    .partners-section-container__body__partner {
      filter: grayscale(100%); }
      .partners-section-container__body__partner:hover {
        filter: none; }

.cta-section-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .cta-section-container__title {
    font-size: 35px;
    font-family: "mont-700", sans-serif;
    color: #000;
    line-height: 2;
    margin-top: 80px; }
  .cta-section-container__subtitle {
    font-size: 16px;
    font-family: "mont-600";
    color: #6c6c6c;
    line-height: 2; }
  .cta-section-container__cta-btn {
    color: #fff;
    font-size: 19px;
    font-family: "mont-600";
    background: linear-gradient(180deg, #a583d2 -17.86%, #6437a0 138.27%);
    border: 1px solid #b485ff;
    padding: 20px 50px;
    margin-top: 2rem; }
    .cta-section-container__cta-btn:hover {
      background: none;
      background-color: #fff;
      color: #b485ff;
      transition: all 0.25s ease-in-out; }

.footer-hr {
  width: 60%;
  display: flex;
  align-self: center;
  margin: 3rem auto;
  border-top: 1px solid #7b61ff; }

.footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding-bottom: 6rem; }
  .footer-content-container__logo {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .footer-content-container__logo__img {
      height: 47px;
      width: 47px; }
    .footer-content-container__logo__text {
      height: 47px;
      width: 140px; }
  .footer-content-container__linkes-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8.6rem;
    width: 107%; }
    .footer-content-container__linkes-container__links {
      display: flex;
      flex-direction: column;
      gap: 2.5rem; }
      .footer-content-container__linkes-container__links__title {
        font-family: "mont-700", sans-serif;
        font-size: 21px;
        color: #000;
        line-height: 2; }
      .footer-content-container__linkes-container__links__link {
        font-family: "mont-600", sans-serif;
        font-size: 16px;
        color: #4e4e4e;
        line-height: 2; }
        .footer-content-container__linkes-container__links__link:hover {
          color: #A166FF; }

.footer-copyright {
  background-color: #7b61ff; }
  .footer-copyright__text {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: "mont-600", sans-serif;
    line-height: 3; }
