@font-face {
    font-family: "mont-600";
    src: url(/assets/Font/Mont/Mont-Book.otf);
  }
  @font-face {
    font-family: "mont-500";
    src: url(/assets/Font/Mont/Mont-Light.otf);
  }
  @font-face {
    font-family: "mont-700";
    src: url(/assets/Font/Mont/Mont-SemiBold.otf);
  }
  @font-face {
    font-family: "mont-800";
    src: url(/assets/Font/Mont/Mont-Bold.otf);
  }
  @font-face {
    font-family: "mont-book";
    src: url(/assets/Font/Mont/Mont-Book.otf);
  }