.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  margin-top: 9rem;
  padding: 0 0 0 4rem;

  .hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
    align-items: flex-start;
  }

  .hero-heading-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .hero-title {
    font-family: "mont-600", sans-serif;
    font-size: $font-xl;
    color: $secondary;
    font-style: normal;
    font-weight: 500;
  }

  .hero-heading {
    font-family: "mont-700", sans-serif;
    color: $primary;
    font-size: $font-xxxl;
    line-height: 1.4;
  }

  .hero-desciption {
    color: $primary;
    font-size: $font-md;
    font-family: "mont-500", sans-serif;
    line-height: 2.5;
  }

  .hero-illustration {
    max-width: 70rem;
    max-height: 70rem;
    animation: MoveUpDown 8s linear infinite;

  }

  a {
    color: $primary;
    font-size: 2rem;
    line-height: 1.5;
    background-color: $yellow;
    border: $border-thikness solid $yellow;
    font-family: "mont-700", sans-serif;
    padding: 20px 65px;

    &:hover {
      background-color: transparent;
      transition: $hover-transition;
    }
  }
}

.top-section {
  background-color: $light-purple;
  background-size: inherit;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1360px;
  z-index: -2;
}

.got-you-covered-section {
  display: flex;
  flex-direction: column;
  padding-top: 9rem;
  gap: 5.7rem;

  .got-you-covered__heading-container {
    &__header {
      font-family: "mont-600", sans-serif;
      color: #5a3583;
      font-size: $font-md;
    }

    &__subheader {
      font-family: "mont-700", sans-serif;
      line-height: 2;
      color: $color-black;
      font-size: $font-xxl;
    }
  }

  &__top-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14.6rem;
    padding: 5px;

    &__iconn {
      display: flex;
      justify-content: center;
      background-color: rgba(251, 242, 255, 1);
      height: 98px;
      width: 98px;
      border-radius: 50%;
      padding: 1.6rem;
    }
  }

  &__top-box {
    padding: 3.7rem 5.7rem;
    background-color: $color-white;
    box-shadow: $box-shadow-dark;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.9rem;

    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__header {
        font-size: $font-sm;
        font-style: normal;
        font-family: "mont-700", sans-serif;
        color: $color-black;
        margin-top: 1rem;
      }

      &__description {
        font-size: $font-xs;
        font-family: "mont-600", sans-serif;
        color: $grey;
        line-height: 2;
      }
    }

    transition: all 0.5s ease;

    &:hover {
      box-shadow: $secondary 0px 7px 29px 0px;
      transform: translateY(-20px);
    }
  }

  &__bottom-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5.2rem;
    margin-bottom: 13.6rem;
    margin-top: 5rem;
  }

  &__bottom-box {
    padding: 4rem 2.2rem;
    border: $border-thikness solid $yellow;
    border-radius: $border-radius-box-lg;
    transition: all 0.5s ease;

    &:hover {
      box-shadow: #ffcf2b 0px 7px 29px 0px;
      transform: translateY(-20px);
    }

    &__num__text {
      font-size: 4.8rem;
      font-family: "mont-700";
      color: #774eb0;
      line-height: 1.5;

      span {
        color: $tertiary;
      }
    }

    &__text {
      font-size: $font-xs;
      font-family: "mont-7OO", sans-serif;
      color: $grey;
      line-height: 1.5;
      margin-top: 1rem;
    }
  }

  .got-you-covered-section__bottom-box {
    min-height: 140px;
  }
}

.core-development-container {
  @include section-header();

  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7.5rem;

    &__illustration {
      grid-column: 2/4;
      grid-row: 1/3;
      justify-self: center;
      margin-bottom: 3rem;
    }

    &__box {
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4.8rem;
      align-items: center;
      padding: 5.2rem;
      border-radius: $border-radius-box-md;
      box-shadow: $box-shadow-light;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: $secondary 0px 7px 29px 0px;
        transform: translateY(-20px);
      }

      &__icon {
        width: 5.8rem;
        height: 5.8rem;
      }

      &__text {
        font-size: 2.2rem;
        color: $md-dark-purple;
        font-family: "mont-700", sans-serif;
        text-align: center;
      }
    }
  }

  &__cta__btn {
    background-color: $yellow;
    border: $border-thikness solid $yellow;
    color: $primary;
    font-size: $font-sm;
    font-family: sans-serif;
    padding: 2.2rem 8rem;
    margin-top: 2rem;

    &:hover {
      background-color: transparent;
      transition: $hover-transition;
    }
  }
}

.recent-projects-container {
  padding: 4rem;
  text-align: center;
  @include section-header;

  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8.2rem;
    width: 100%;
  }
}

.methodology-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding: 4rem;
  padding-bottom: 24rem !important;
  text-align: center;
  @include section-header;

  &__headings__header {
    padding-top: 4rem;
  }

  &__body {
    margin-top: 5rem;

    &__image {
      width: 100%;
    }
  }

  &__cta {
    margin-top: 5rem;

    &__btn {
      border: $border-thikness solid #a583d2;
      color: #7c1dc9;
      font-size: 18px;
      font-family: sans-serif;
      font-weight: 300;
      padding: 2rem 5rem;

      &:hover {
        color: $color-white;
        background-color: #7c1dc9;
        transition: $hover-transition;
      }
    }
  }
}

.floating-cta-container {
  border-radius: $border-radius-box-lg;
  background: $background-purpel-gr;
  padding: 5.4rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  transform: translateY(-50%);
  margin: 0 auto;

  &__box {
    display: flex;
    align-items: center;
    gap: 5rem;

    &:first-child {
      padding-right: 5rem;
      border-right: $border-thikness solid $color-white;
    }

    &:last-child {
      padding-left: 5rem;
    }

    &__icon {
      background-color: rgba(233, 197, 255, 1);
      padding: 40px;
      border-radius: 50%;
    }

    &__text {
      font-family: "mont-600", sans-serif;
      color: $color-white;
      font-size: 32px;
    }

    &__circle {
      background-color: #64389e;
      height: 7rem;
      width: 7rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.technologies-container {
  text-align: center;
  @include section-header();

  &__body {
    display: flex;
    align-items: center;
    gap: 16rem;
    margin-top: 3rem;

    &__tabs-container {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &__tab {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.21);
        border-radius: $border-radius-box-xs;
        padding: 1.5rem;
        border-left: $border-thikness * 5 solid #e6d2f7;
        text-align: start;

        transition: all 0.5s ease;

        &:hover {
          border-left: $primary solid 5px;
          transform: translateX(-3rem);
        }

        &__title {
          font-size: 28px;
          color: $color-black;
          font-family: "mont-700", sans-serif;
          margin-left: 1rem;
        }

        &__desc {
          font-size: $font-sm;
          color: $dark-gery;
          font-family: "mont-600", sans-serif;
          line-height: 2;
        }
      }

      .activeTab {
        box-shadow: 0 0 24px rgba(139, 118, 167, 0.6);
        // margin-right: 10%;
        transform: translateX(-40px);
        border-left: $border-thikness * 5 solid rgba(78, 18, 126, 1);
      }
    }
  }
}

.partners-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 8rem;
  padding-bottom: 5rem;

  &__title {
    font-family: "mont-800", sans-serif;
    font-size: $font-xxl;
    color: $color-black;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 5rem;

    &__partner {
      filter: grayscale(100%);

      &:hover {
        filter: none;
      }
    }
  }
}
