@use 'sass:math';

.box {
    display: inline-flex;
    height: 180px;
    width: 230px;
    padding: 50px 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 28px;
    background: #fff;
    box-shadow: 0px 14px 21px 1px rgba(197, 162, 219, .17);
    margin: 5% 0;
    
    .box-text {
        color: #542B74;
        text-align: center;
        font-family: Mont;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 33.5px;
        text-transform: capitalize;
    }

}