.btn {
  @include btn;
}

.btn-top {
  @include btn(#B485FF, white);
  margin-left: 50%;
}

.btn-explore {
  @include btn(transparent, $secondary);
  margin-left: 50%;
  border: #B485FF solid 1px;
  width: 220px;
  height: 25px
}

.contact-section-btn {
  @include btn(#6437A0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    padding: 20px 10px;
    width: 200px;

    &:hover {
      background-color: lighten($val, 5);
    }
  }

  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;

    &:hover {
      background-color: $val;
    }
  }

  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);

    &:hover {
      color: $val;
      background-color: light-comp($val);
    }
  }
}