@use 'sass:math';

.card2 {
  display: block;
  width: 17%;
  height: 140px;
  flex-shrink: 0;
  border-radius: 32px;
  border: 1px solid #FFCF2B;
  margin-right: 4%;
  padding: 1.2rem;

  .number {
    font-family: Mont;
    font-size: 48px;
    font-weight: 600;
    line-height: 90px;
    background: linear-gradient(212deg, #5F27BD -5.16%, #8E74A4 97.22%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    span {
      background: linear-gradient(345deg, #DBBAF0 58.19%, #02CDF3 126.35%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: Mont;
      font-size: 48px;
      font-weight: 600;
      line-height: 90px;

    }
  }

  .card2-description {
    color: #848484;
    line-height: 30px;
    font-weight: 400;
  }

}
