.bg-purple {
    margin-top: -2%;
}

.contact-section {
    margin-top: 4%;
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .contact-section-title {
        padding-top: 4%;
        @include title(#000, 2.5rem);
        font-weight: 400;
    }

    .contact-section-subtitle {
        @include title(#6C6C6C, 1.15rem);
        font-weight: 400;
        margin-bottom: 5%;
    }
}

.footer-copyright {
    margin-top: 4%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    height: 3rem;
    padding-top: 1%;

    .footer-copyright__text {
        color: #fff;
        font-size: 1.2rem;
        padding: 0 1rem;
    }

}

.footer-hr {
    width: 50%;
    display: flex;
    align-self: center;
    margin: 3rem auto;
    border-top: solid #6437A0;
}
.contact-section-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
//   .bg-color-dark {
//     background-color: #eeebff;
//   }

//   .footer-content-container {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     gap: 5rem;
//     padding-bottom: 6rem;

//     &__logo {
//       display: flex;
//       align-items: center;
//       gap: 1rem;
//       &__img {
//         height: 47px;
//         width: 47px;
//       }
//       &__text {
//         height: 47px;
//         width: 140px;
//       }
//     }
//     &__linkes-container {
//       display: grid;
//       grid-template-columns: repeat(6, 1fr);
//       gap: 7.6rem;
//       width: 100%;
//       &__links {
//         display: flex;
//         flex-direction: column;
//         gap: 1.5rem;
//         &__title {
//           font-family: "mont-700", sans-serif;
//           font-size: $font-md;
//           color: $color-black;
//           line-height: 2;
//         }
//         &__link {
//           font-family: "mont-700", sans-serif;
//           font-size: $font-xs;
//           color: #4e4e4e;
//           line-height: 2;
//         }
//       }
//     }
//   }

//   .footer-copyright {
//     background-color: #7b61ff;
//     &__text {
//       color: $color-white;
//       text-align: center;
//       font-size: 20px;
//       font-family: "mont-600", sans-serif;
//       line-height: 3;
//     }
//   }