.hero-section {
    margin-top: 10%;
    margin-left: 10%;
    width: 40%;
    gap: 20px;

}

.hero-title {
    
    color: $secondary;
    font-size: 2rem;
    font-weight: 500;
    line-height: 44px;
}

.hero-heading {
    color: $primary;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
    margin: 5% 0;
}

.hero-desciption {
    width: 100%;
    color: $primary;
    font-size: 1.5rem;
    font-weight: 500;

}
.btn-yellow{
margin-top: 5%;
}