%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
}

.navbar {
  z-index: 5;
  background: rgba(123, 97, 255, 0.05);
  @extend %flex-layout;
  margin-top: 2%;

  .container {
    margin-left: 10%;
    z-index: 1;
    @extend %flex-layout;
  }

  .nav-links-container {
    display: flex;

    .nav-links {
      display: flex;
      align-items: center;
      gap: 3rem;
      white-space: nowrap;

      .nav-link a {
        color: $primary;
        font-weight: 500;
      }
    }
  }



}