@mixin divs($width, $height, $bg-color, $raduis: 0) {
    width: $width;
    height: $height;
    background: $bg-color;
    border-radius: $raduis;
}

.purplediv {
    @include divs(75%, 16rem, linear-gradient(180deg, #A583D2 -17.86%, #6437A0 138.27%), 38px);
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    position: relative;
    padding: 0 3%;

    .purplediv-left,
    .purplediv-right {
        display: flex;
        align-items: center;

        p {
            color: #FFF;
            font-size: 32px;
            font-weight: 400;
            line-height: 45px;
        }
    }


    .rosediv {
        @include divs(11rem, 9rem, #E9C5FF, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .movediv {
        @include divs(4rem, 4rem, #64389E, 50%);
    }

    .purplediv-lign {
        @include divs(1px, 169px, #fff);
    }

}