.rectangle {
    background-color: $primary;
    width: 627px;
    height: 940px;
    border-radius: 0px 0px 0px 233px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    img {
        display: inline-flex;
        padding: 70px 40px 38.944px 0px;
        position: absolute;
        top: 100px;
        right: 100px;
    }
}