.section6 {
    margin-top: 4%;
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .section6-title1 {
        @include title(#3D065F, 22px)
    }

    .section6-title2 {
        @include title(#3D065F, 36px);
        margin-bottom: 5%;
    }

    .section6-container {
        display: flex;
        align-items: center;

        .section6-container-left {
            width: 55%;
        }

        .section6-container-right {
            width: 45%;

            .section6-container-right-tab {
                width: 65%;
                border-radius: 7px;
                background: #FFF;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.21);
                text-align: start;
                border-left: #E6D2F7 solid 5px;
                margin-bottom: 5%;
                padding-left: 2%;

                h3 {
                    color: #000;
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 50px;
                    margin-left: 2%;
                }

                p {
                    color: #767676;
                    font-size: 19px;
                    font-weight: 400;
                    line-height: 40px;
                }
            }
        }
    }

}

.partners-section {
    margin-top: 4%;
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .partners-section-container img {
        margin-top: 2%;
        padding: 0 1%;
    }
}