.section5 {
    margin-top: 4%;
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .section5-title1 {
        @include title(#3D065F, 22px)
    }

    .section5-title2 {
        @include title(#3D065F, 36px);
        margin-bottom: 5%;
    }

    .section5-btn {
        margin-top: 5%;
        margin-left: -13%;
    }

    .purplediv {
        margin: auto;
        margin-top: 2%;
        text-align: center;
    }


}