.bg-white{
    background-color: #fff;
    margin-top: -7%;
    padding-top: 8%;
    padding-bottom: 5%;
}
.section2 {
    margin-top: 4%;
    margin-left: 10%;
    
    .cards2{
        margin-top: 5%;
        display: flex;
    }
}
