.section3 {
    margin-top: 4%;
    margin: auto;
    margin-top: 2%;
    text-align: center;

    .section3-title1 {
        @include title(#3D065F, 22px)
    }

    .section3-title2 {
        @include title(#3D065F, 36px)
    }

    .section3-container{
        margin-top: 2%;
        display: flex;

        .section3-container-left{
            display: block;
            margin-left: 5%;
        }
        .section3-container-right{
            display: block;
            margin-right: 5%;

        }
    }
    .section3-container-btn{
        margin-left: 44%;
    }


}